<nav class="navbar navbar-expand-lg navbar-light ">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
  </form>

  <button class="btn btn-outline my-2 my-sm-0" 
  onclick="location.href='/'" type="button">
  Home
  </button>

  <div style="position: absolute;right: 10px;">
    <% if !is_logged_in? %>
        <button class="btn btn-outline my-2 my-sm-0" id="login"
        onclick="location.href='/login'" type="button">
        Login
        </button>
        <button class="btn btn-outline my-2 my-sm-0" 
        onclick="location.href='/signup'" type="button">
        Sign Up
        </button>
    <% else %>
        <button class="btn btn-outline my-2 my-sm-0" 
        onclick="location.href='/signup'" type="button">
        <%= "#{current_user.name}" %>
        </button>
        <button class="btn btn-outline my-2 my-sm-0" 
        onclick="location.href='/signup'" type="button">
        <%= link_to 'Logout', "/logout", :method => :delete, :id => 'btn-logout' %>
        </button>
        
    <% end %>
  </div>

</nav>